.splide__progress {
  width: 100%;
  background: rgba(255,255,255,0.15);
  border-radius: 8px;
  margin: 0 auto;

  position: relative;
}
.splide__progress__bar {
  background: #fff;
  border-radius: 8px;
  transition: width 0.1s;
}


.splide__track{
  border-radius:0rem !important;
  

}